<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="moduleConfig" type="Rsc\Components\Model\ComponentManager">
        <arguments>
            <argument name="type" xsi:type="string">component_manager</argument>
        </arguments>
    </virtualType>
</config>
