<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="moduleConfig" type="Rsc\Components\Model\ComponentManager">
        <arguments>
            <argument name="type" xsi:type="string">component_manager</argument>
        </arguments>
    </virtualType>
    <type name="Rsc\Components\Model\ComponentManager">
        <arguments>
            <argument name="CacheManager" xsi:type="object" shared="true">Rsc\Components\Cache\Memory</argument>
        </arguments>
    </type>
    <type name="Rsc\Components\Observer\BlockInstantiation">
        <arguments>
            <argument name="ComponentManager" xsi:type="object" shared="true">Rsc\Components\Model\ComponentManager</argument>
        </arguments>
    </type>
</config>
