<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_block_create_after">
        <observer name="add_component_manager_to_blocks" instance="Rsc\Components\Observer\BlockInstantiation" />
    </event>
</config>
